{% extends 'layout.html.twig'%}


{% block content %}
	<h1>Items</h1>
	<ul>
		{% if items %}
			{% for item in items %}
				<li style="color: red;">
					<a href="/items/show?id={{ item.id }}">{{ item.id }}.
						{{ item.title }}</li>
				</li>
			</a>
		{% endfor %}
	{% else %}
		<li>Nothing to display</li>
	{% endif %}
</ul>
<a href="/items/add">Ajouter</a>{% endblock %}
